body {
    min-width: 800px;
    min-height: 600px;
    font-size: 14pt;
    font-family: "calibri", Garamond;
}

header {
    height: 40px;
    border: 1px solid black;
    line-height: 40px;
    padding: 5px;
    background-color: #343838;
}

input[type="text"] {
    border: 2px solid grey;
    padding: 5px;
    font-size: 14pt;
}

input[type="submit"] {
    border: 2px solid black;
    padding: 5px;
    font-size: 14pt;
    background: #008C9E;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

input[type="submit"]:hover {
    background-color: #005F6B;
}

select {
    cursor: pointer;
    font-size: 14pt;
    border: 2px solid black;
    border-radius: 5px;
}

#map {
    position:fixed;
    top: 50px;
    right: 480px;
    bottom: 0px;
    left: 0px;
    border: 1px solid black;
}

nav {
    border: 1px solid black;
    position:fixed;
    top: 50px;
    bottom: 0px;
    right: 0px;
    margin: 0;
    width: 480px;
    background-color: #565A5A;
    color: white;
    overflow-y: auto;
    word-wrap: break-word;
}

nav h1 {
    text-align: center;
    font-size: 140%;
    padding: 5px;
    margin-bottom: 10px;
}

nav div p {
    margin-top: 3px;
    margin-bottom: 5px;
}

nav div {
    padding: 5px;
    border-top: 1px solid white;
    cursor: pointer;
}

nav div:nth-child(even) {
    background-color: #676B6B; 
    color: white;
}

nav div:hover {
    color: black;
    background-color: #00DFFC;
}

#search_spinner {
    z-index: 1;
    display: none;
    position: fixed;
    bottom: 4px;
    right: 484px;
}

